### Functions

In [454]:
import pandas as pd
import numpy as np
import re

In [525]:
city_info = pd.read_html('https://ru.wikipedia.org/wiki/%D0%A1%D0%BF%D0%B8%D1%81%D0%BE%D0%BA_%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D0%BE%D0%B2_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8')

In [526]:
city_info[0]

,№,Герб,Город,Регион,Федеральный округ,Население,Основание илипервое упоминание,Статус города[4],Прежние названия
0,1,NaN,Абаза,Хакасия,Сибирский,12 272,1867,1966.0,"Абаканский Завод, Абаканско-Заводское"
1,2,NaN,Абакан,Хакасия,Сибирский,184 769,1734,1931.0,Усть-Абаканское (до 1931)
2,3,NaN,Абдулино,Оренбургская область,Приволжский,17 274,1795,1923.0,NaN
3,4,NaN,Абинск,Краснодарский край,Южный,39 511,1863,1963.0,Абинское (до 1863);Абинская (до 1962)
4,5,NaN,Агидель,Башкортостан,Приволжский,14 219,1980,1991.0,NaN
...,...,...,...,...,...,...,...,...,...
1113,1114,NaN,Ярославль,Ярославская область,Центральный,577 279,1010,1071.0,NaN
1114,1115,NaN,Ярцево,Смоленская область,Центральный,41 452,1610,1926.0,NaN
1115,1116,NaN,Ясногорск,Тульская область,Центральный,15 269,1578,1958.0,Лаптево (до 1965)
1116,1117,NaN,Ясный,Оренбургская область,Приволжский,15 471,1961,1979.0,NaN
1117,1118,NaN,Яхрома,Московская область,Центральный,14 011,1841,1940.0,"Суровцево, посёлок Покровской мануфактуры"

In [527]:
city_info[1]

,№,Герб,Город,ГФЗ,Федеральный округ,Население,Основание илипервое упоминание,Статус города[8],Прежние названия
0,1,NaN,Балаклаване призн.,Севастополь,Южный,35 919,VIII в. до н. э.,2019,"Баликайя, Симболум, Символон, Чембало, Ямболи"
1,2,NaN,Зеленогорск,Санкт-Петербург,Северо-Западный,15 613,1548,1946,Терийоки (до 1948)
2,3,NaN,Зеленоград,Москва,Центральный,256 775,1963,1963,NaN
3,4,NaN,Инкерманне призн.,Севастополь,Южный,13 858,VI век н. э.,1976,"Каламита (до 1475), Белокаменск (1976—1991)"
4,5,NaN,Колпино,Санкт-Петербург,Северо-Западный,142 108,1722,1912,NaN
5,6,NaN,Красное Село,Санкт-Петербург,Северо-Западный,56 533,1714,1999,муниципальный округ № 43
6,7,NaN,Кронштадт,Санкт-Петербург,Северо-Западный,44 399,1704,1704,Кроншлот
7,8,NaN,Ломоносов,Санкт-Петербург,Северо-Западный,39 147,1710,1780,Ораниенбаум (до 1948)
8,9,NaN,Московский,Москва,Центральный,65 417[7],1969,2004,Передельцы
9,10,NaN,Павловск,Санкт-Петербург,Северо-Западный,17 463,1777,1796,"Павловское село (до 1796), Слуцк (1918—1944)"
10,11,NaN,Петергоф,Санкт-Петербург,Северо-Западный,80 814,1710,1762,Петродворец (1944—1997)
11,12,NaN,Пушкин,Санкт-Петербург,Северо-Западный,107 223,1710,1808,"Сарская Мыза (до 1710-х), Сарское Село (1710-е..."
12,13,NaN,Сестрорецк,Санкт-Петербург,Северо-Западный,45 192,1714,1925,NaN
13,14,NaN,Троицк,Москва,Центральный,65 043,1751,1977,"пустошь Троицкая, Троицкое"
14,15,NaN,Щербинка,Москва,Центральный,56 531,1766,1975,NaN

In [528]:
city_info[0].columns = ['number','coat_of_arms','city','region','federal_district','population_new','first_year','city_year','old_name']
city_info[1].columns = ['number','coat_of_arms','city','region','federal_district','population_new','first_year','city_year','old_name']

In [529]:
city_info[0]

,number,coat_of_arms,city,region,federal_district,population_new,first_year,city_year,old_name
0,1,NaN,Абаза,Хакасия,Сибирский,12 272,1867,1966.0,"Абаканский Завод, Абаканско-Заводское"
1,2,NaN,Абакан,Хакасия,Сибирский,184 769,1734,1931.0,Усть-Абаканское (до 1931)
2,3,NaN,Абдулино,Оренбургская область,Приволжский,17 274,1795,1923.0,NaN
3,4,NaN,Абинск,Краснодарский край,Южный,39 511,1863,1963.0,Абинское (до 1863);Абинская (до 1962)
4,5,NaN,Агидель,Башкортостан,Приволжский,14 219,1980,1991.0,NaN
...,...,...,...,...,...,...,...,...,...
1113,1114,NaN,Ярославль,Ярославская область,Центральный,577 279,1010,1071.0,NaN
1114,1115,NaN,Ярцево,Смоленская область,Центральный,41 452,1610,1926.0,NaN
1115,1116,NaN,Ясногорск,Тульская область,Центральный,15 269,1578,1958.0,Лаптево (до 1965)
1116,1117,NaN,Ясный,Оренбургская область,Приволжский,15 471,1961,1979.0,NaN
1117,1118,NaN,Яхрома,Московская область,Центральный,14 011,1841,1940.0,"Суровцево, посёлок Покровской мануфактуры"

In [540]:
city_info[1]

,number,coat_of_arms,city,region,federal_district,population_new,first_year,city_year,old_name
0,1,NaN,Балаклаване призн.,Севастополь,Южный,35 919,VIII в. до н. э.,2019,"Баликайя, Симболум, Символон, Чембало, Ямболи"
1,2,NaN,Зеленогорск,Санкт-Петербург,Северо-Западный,15 613,1548,1946,Терийоки (до 1948)
2,3,NaN,Зеленоград,Москва,Центральный,256 775,1963,1963,NaN
3,4,NaN,Инкерманне призн.,Севастополь,Южный,13 858,VI век н. э.,1976,"Каламита (до 1475), Белокаменск (1976—1991)"
4,5,NaN,Колпино,Санкт-Петербург,Северо-Западный,142 108,1722,1912,NaN
5,6,NaN,Красное Село,Санкт-Петербург,Северо-Западный,56 533,1714,1999,муниципальный округ № 43
6,7,NaN,Кронштадт,Санкт-Петербург,Северо-Западный,44 399,1704,1704,Кроншлот
7,8,NaN,Ломоносов,Санкт-Петербург,Северо-Западный,39 147,1710,1780,Ораниенбаум (до 1948)
8,9,NaN,Московский,Москва,Центральный,65 417[7],1969,2004,Передельцы
9,10,NaN,Павловск,Санкт-Петербург,Северо-Западный,17 463,1777,1796,"Павловское село (до 1796), Слуцк (1918—1944)"
10,11,NaN,Петергоф,Санкт-Петербург,Северо-Западный,80 814,1710,1762,Петродворец (1944—1997)
11,12,NaN,Пушкин,Санкт-Петербург,Северо-Западный,107 223,1710,1808,"Сарская Мыза (до 1710-х), Сарское Село (1710-е..."
12,13,NaN,Сестрорецк,Санкт-Петербург,Северо-Западный,45 192,1714,1925,NaN
13,14,NaN,Троицк,Москва,Центральный,65 043,1751,1977,"пустошь Троицкая, Троицкое"
14,15,NaN,Щербинка,Москва,Центральный,56 531,1766,1975,NaN

In [609]:
city_info_all = pd.concat([city_info[0],city_info[1]],sort=False, axis=0, ignore_index=True)[['city','region','federal_district','population_new']]

In [629]:
city_info_all.tail()

            city           region federal_district population_new
1128    Петергоф  Санкт-Петербург  Северо-Западный             80
1129      Пушкин  Санкт-Петербург  Северо-Западный            107
1130  Сестрорецк  Санкт-Петербург  Северо-Западный          45192
1131      Троицк           Москва      Центральный          65043
1132    Щербинка           Москва      Центральный          56531

In [588]:
def num_cor(data):
    return re.sub(' ','',data)

In [ ]:
def num_pop(data):
    return re.search(r'\d+',data).group()

In [630]:
city_info_all['population_new'] = city_info_all.population_new.apply(num_cor)
city_info_all['population_new'] = city_info_all.population_new.apply(num_pop)
city_info_all = city_info_all.sort_values('city', ascending=True)

In [631]:
city_info_all.tail()

           city                region federal_district population_new
1113  Ярославль   Ярославская область      Центральный         577279
1114     Ярцево    Смоленская область      Центральный          41452
1115  Ясногорск      Тульская область      Центральный          15269
1116      Ясный  Оренбургская область      Приволжский          15471
1117     Яхрома    Московская область      Центральный          14011

In [516]:
table_mill = pd.read_excel('D:/Нетология/Проекты/Cyties Russia/Tabl-22-23-24-25-18.xlsx')
table_half_mill = pd.read_excel('D:/Нетология/Проекты/Cyties Russia/Tabl-22-23-24-25-19.xlsx')
table_low = pd.read_excel('D:/Нетология/Проекты/Cyties Russia/Tabl-22-23-24-25-20.xlsx')
table_small = pd.read_excel('D:/Нетология/Проекты/Cyties Russia/Tabl-22-23-24-25-21.xlsx')

In [517]:
table_mill.columns = ['number','city','subject_RF','population','population_2','population_3']

In [561]:
table_mill.tail()

,number,city,subject_RF,population,population_2,population_3
15,11.,г. Уфа,Республика Башкортостан,1120547,1115560,1118053
16,12.,г. Красноярск,Красноярский край,1090811,1082933,1086872
17,13.,г. Пермь,Пермский край,1051583,1048005,1049794
18,14.,г. Воронеж,Воронежская область,1047549,1039801,1043675
19,15.,г. Волгоград,Волгоградская область,1013533,1015586,1014560

In [518]:
table_half_mill.columns = ['number','city','subject_RF','population','population_2','population_3']

In [560]:
table_half_mill.tail()

,number,city,subject_RF,population,population_2,population_3
21,18.,г. Астрахань,Астраханская область,533925,532504,533215
22,19.,г. Набережные Челны,Республика Татарстан,532472,529797,531134
23,20.,г. Пенза,Пензенская область,523553,523726,523639
24,21.,г. Липецк,Липецкая область,509735,510439,510087
25,22.,г. Киров,Кировская область,507155,501468,504312

In [563]:
table_low.columns = ['number','city','subject_RF','population','population_2','population_3']

In [564]:
table_low.tail()

,number,city,subject_RF,population,population_2,population_3
40,37.,г. Кострома,Костромская область,277280,277648,277464
41,38.,г. Нижневартовск,Ханты-Мансийский автономный округ - Югра,275429,274575,275002
42,39.,г. Новороссийск,Краснодарский край,273278,270774,272026
43,40.,г. Йошкар-Ола,Республика Марий Эл,268272,266675,267473
44,41.,г. Химки,Московская область,250688,244668,247678

In [565]:
table_small.columns = ['number','city','subject_RF','population','population_2','population_3']

In [566]:
table_small.tail()

,number,city,subject_RF,population,population_2,population_3
92,89.,г. Сергиев Посад,Московская область,103444,104579,104012
93,90.,г. Элиста,Республика Калмыкия,103132,103899,103515
94,91.,г. Ногинск,Московская область,102592,102267,102430
95,92.,г. Новокуйбышевск,Самарская область,102075,102933,102504
96,93.,г. Железногорск,Курская область,100740,100671,100705

In [612]:
city_2017 = pd.concat([table_mill,table_half_mill,table_low,table_small], sort=False, axis=0, ignore_index=True)

In [613]:
city_2017

,number,city,subject_RF,population,population_2,population_3
0,(человек),NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,№ п/п,Города,"Субъект РФ, в состав которого входи...",На 1 января,NaN,В среднем за 2017 год
3,NaN,NaN,NaN,2018 года,2017 года (справочно),NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
183,89.,г. Сергиев Посад,Московская область,103444,104579,104012
184,90.,г. Элиста,Республика Калмыкия,103132,103899,103515
185,91.,г. Ногинск,Московская область,102592,102267,102430
186,92.,г. Новокуйбышевск,Самарская область,102075,102933,102504
187,93.,г. Железногорск,Курская область,100740,100671,100705

In [616]:
city_2017 = city_2017.dropna()

In [617]:
city_2017 = city_2017[['number','city','subject_RF','population']]

In [618]:
city_2017.tail()

    number               city           subject_RF population
183    89.   г. Сергиев Посад   Московская область     103444
184    90.          г. Элиста  Республика Калмыкия     103132
185    91.         г. Ногинск   Московская область     102592
186    92.  г. Новокуйбышевск    Самарская область     102075
187    93.    г. Железногорск      Курская область     100740

In [574]:
def city_name(data):
    name = re.match(r'(?P<g>[г])(?P<dot>\.)(?P<name>\D+)',data)
    return name.group('name')

In [619]:
city_2017['city'] = city_2017.city.apply(city_name)

In [622]:
city_2017 = city_2017.sort_values('city', ascending=True, ignore_index=True)[['city','population']]

In [625]:
city_2017.tail()

                city population
166           Элиста     103132
167          Энгельс     226176
168   Южно-Сахалинск     198973
169           Якутск     311760
170        Ярославль     608722

In [632]:
city_info_all.to_csv('city_info_all.csv')
city_2017.to_csv('city_2017.csv')